client/.DS_Store
client/node_modules
!client/node_modules/vue-simple-upload/dist/FileUpload.vue
server/node_modules
client/dist
server/dist

# local env files
client/.env.local
client/.env.*.local
server/.env.local
server/.env.*.local

# Log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Editor directories and files
client/.idea
client/.vscode
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw*
server/.idea
server/.vscode
server/*.suo
server/*.ntvs*
server/*.njsproj
server/*.sln
server/*.sw*
